@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* nav */
/* ========================================================================== */
.contenido img {
    width: 200px;
    height: auto;
}

.contenido {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

nav {
    background:  #605eb9dc;
    padding: 20px 0px;
}

/* ========================================================================== */
/* Card */
/* =========================================================================== */
.principal-card {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 20px;
    background-color: #393874dc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3),
        inset 0px -4px 8px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 0 16px;
    padding-bottom: 20px;
}

.principal-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4),
}

.imagen-primaria {
    width: 350px;
    height: 278px;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
}

.h2-primario {
    font-size: 33px;
    font-family: "Bebas Neue", sans-serif;
    color: #fff;
    margin: 20px 0;
}

.logo-hospital {
    width: 149px;
    height: 99px;
    margin: 10px 0px 60px
}

.p {
    font-family: "Agdasima", sans-serif;
    font-size: 20px;
    color: #fff;
}

.header-card {
    background: var(--color, rgb(255, 255, 255));
    width: 100%;
    justify-content: center;
    display: flex;
    height: 119px;
    margin-bottom: 30px;
    border-radius: 20px 20px 0 0;
}

/* ================================================================== */
/* Ventana Modal */
/* ================================================================== */
.color-modal {
    background-color:#7079b2 !important;
    color: #fff !important;
}

.modal-header {
    background: var(--color, rgb(255, 255, 255)) !important;
}

.titulo-modal {
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
    color: #000;
}

.modal-footer {
    background: var(--color, rgb(255, 255, 255)) !important;
}

.textos {
    margin-top: 30px;
}

.imagen-modal {
    width: 250px;
    height: 390px;
    object-fit: cover;
    object-position: top;
    border-radius: 40px;
    margin-right: 15px;
}

.tama침o-modal {
    width: 600px !important;
}

.modal-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* ================================================================== */
/* Barra de busqueda */
/* ================================================================== */
.busqueda {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.input-busca {
    flex: 1;
    border: 1px solid rgba(71, 136, 249, 0.866);
    outline: none;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    font-size: 16px;
    background-color: #f9f9f9;
}

.input-busca:focus {
    border-color: rgba(0, 179, 255, 0.7);
    box-shadow: 0 0 8px rgba(38, 0, 255, 0.5);
}

.lupa {
    background-color:  #7775ffdc;
    /* Color de fondo del bot칩n */
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.busqueda input::placeholder {
    color: #cccccc;
}

.busqueda input:focus {
    outline: none;
}

/* Botones */
.btn-pag {
    font-size: 20px !important;
    background-color:  #605eb9dc;
    border: 2px solid rgba(100, 149, 237, 0.4);
    border-radius: 8px;
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    padding: 10px 15px;
    color: #fff;
}

.btn-pag:hover {
    background-color: rgba(100, 149, 237, 0.4);
}

.botones-pagi {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
}

.contenedor-paginacion {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-hoja {
    padding: 5px 10px;
    margin: 5px 5px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    background-color: #605eb9dc;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    color: white;  
    font-family: "Agdasima", sans-serif;
    font-size: 18px;
    
}
.active {
    background-color: #c387e7;  
    color: white;                 
    border: 1px solid #4d2e57;  
}
.contenedor-paginacion {
    padding-top: 30px;
}

.contenedor-info {
    background-color: #c1bebe;
}

.tama침o-ventana {
    width: 800px !important;
}

.infomacion {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;

}

.color-card-he {
    background-color: black;
}

.div-conten {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 0;
}

.personajes-lista {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 15px 0;
}

/* Filtros */
/* =============================================================================== */
.especialidad-conten {
    flex-direction: column;
    display: flex;
    align-items: center;
    place-content: center;
    place-items: center;
}

.especialidad {
    width: 185px;
    padding: 12px 20px;
    font-size: 20px;
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    color: #fff;
    background: rgba(173, 216, 230, 0.1);
    border: 2px solid rgba(100, 149, 237, 0.4);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    appearance: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.especialidad:focus {
    outline: none;
    border-color: rgba(70, 130, 180, 0.7);
    box-shadow: 0 0 8px rgba(100, 149, 237, 0.5);
}

.especialidad:hover {
    background-color: rgba(173, 216, 230, 0.3);
    border-color: rgba(70, 130, 180, 0.5);
}

/* Opciones */
option {
    font-size: 18.5px;
    padding: 8px;
    background: rgba(173, 216, 230, 0.2);
    /* Fondo azul claro */
    color: #333;
    /* Color de texto */
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
}

.filtos-div {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

label {
    font-family: "Agdasima", sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    padding: 16px 0;
}

.contenedor-filtros {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 670px) {
    .personajes-lista {
        width: 90%;
    }

    .contenedor-filtros {
        flex-direction: column;
    }
    .modal-dialog{
        display: flex !important;
        justify-content: center !important;
        place-content: center !important;
        place-items: center !important;
        place-self: center !important;
        place-items: center !important;
    }
    
}

@media (max-width: 580px) {
    .personajes-lista {
        width: 95%;
    }

    .principal-card {
        width: 300px;
        margin: 0 auto;
    }

    .imagen-primaria {
        width: 250px;
        height: 188px;
    }

    .h2-primario {
        font-size: 28px;
    }

    .logo-hospital {
        width: 129px;
        height: 89px;
        margin: 10px 0px
    }

    .p {
        font-size: 15px;
    }

    .header-card {
        height: 105px;
    }

    /* modal */
    .titulo-modal {
        font-size: 20px;
    }

    .textos {
        margin-top: 20px;
    }

    .imagen-modal {
        width: 190px;
        height: 200px;
        object-fit: cover;
        object-position: top;
        border-radius: 40px;
        margin-right: 0px;
    }

    .tama침o-modal {
        width: 300px !important;
    }
    

    .modal-info {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }




    /* nav */
    .contenido {
        align-items: center;
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
    }

    .logo img {
        height: 80px;
        width: auto;
        margin-bottom: 10px;
    }

    /* botones de siguiente y antes  */
    .btn-pag {
        font-size: 13px !important;
        font-weight: 300;
        padding: 8px;
        width: 100px;
    }

    .botones-pagi {
        width: 85%;
        padding-top: 20px;
    }

    /* Paginacion */

    .contenedor-paginacion {
        width: 300px;
        align-items: center;
        place-content: center;
        place-items: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .numeros-pagina {
        width: 300px;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    /* filtros */
    .filtros {
        place-items: center;
    }

    /* Especialidad */
    .especialidad {
        width: 170px;
        padding: 12px 10px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 16px;
    }

    option {
        font-size: 16px;
    }

    .titulo-label {
        font-size: 17px;
    }
}
